.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#count-down-timer {
  font-size: 5em;
}

#count-down-timer.inactive {
  display: none;
}

#progressBar {
  position: relative;
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressText {
}

#progressBarFiller {
  z-index: -1;
  position: absolute;
  height: 3.5rem;
  background-color: #56a5eb;
  width: 0%;
}

.hint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hint-button {
  color: white;
  background-color: #28a745;
  width: 240px;
  font-size: 2rem;
  border-radius: 3px;
  padding-inline: 10px;
}

.hidden {
  display: none;
}

.progress-text-block {
  height: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes highlight-green {
  from { background-color: initial; }
  to { background-color: rgb(144, 212, 144); }
}

.correct-animation {
  animation-name: highlight-green;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes highlight-red {
  from { background-color: initial; }
  to { background-color: rgb(242, 62, 55); }
}

.incorrect-animation {
  animation-name: highlight-red;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#speaker {
  background-color: transparent;
}

.main-menu-title {
  text-align: center;
}

#tests {
  display: flex;
  flex-direction: column;
}

.question-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-image > img {
  width: 500px;
}